[user]
		email = jnterry@ntlworld.com
		name  = Jamie Terry
[diff]
	# Detect copies as well as renames
	renames = copies
[push]
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple